/********************/
/* Header */
/********************/

header {
    background-color: #f7efdb;
}

.nav {
    height: 90px;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    height: 50px;
}

.nav__link-container {
    gap: 30px;
}

.nav__link {
    color: #585858;
    font-size: 16px;
}

/********************/
/* Hero section */
/********************/

.hero {
    background-color: #f7efdb;
}

.hero__img-box {
    justify-content: flex-start;
    align-items: flex-end;
}

.hero__heading {
    font-size: 48px;
    line-height: 1.4;
    margin-top: 96px;
    margin-bottom: 24px;
}

.hero__desc {
    font-size: 18px;
    color: #585858;
    margin-bottom: 40px;
    max-width: 600px;
}

.hero__cta {
    font-size: 20px;
    color: #fff;
    background-color: #ff5a29;
    padding: 10px 20px;
}

.hero__img {
    width: 400px;
    height: auto;
}
