/********************/
/* Header */
/********************/

header {
    background-color: #f7efdb;
}

.nav {
    height: 90px;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    height: 50px;
}

.nav__link-container {
    gap: 30px;
}

.nav__link {
    color: #585858;
    font-size: 16px;
}

/********************/
/* Hero section */
/********************/

.hero {
    background-color: #f7efdb;
    padding-top: 40px;
}

.hero__img-box {
    align-items: flex-end;
}

.hero__heading {
    font-size: 48px;
    line-height: 1.4;
    margin-top: 40px;
    margin-bottom: 24px;
}

.hero__desc {
    font-size: 18px;
    color: #585858;
    margin-bottom: 40px;
    max-width: 600px;
}

.hero__cta {
    font-size: 20px;
    color: #fff;
    background-color: #ff5a29;
    padding: 10px 20px;
}

.hero__img {
    width: 400px;
    height: auto;
}

/********************/
/* Services section */
/********************/

.services__section {
    padding: 96px 0;
}

.services__heading {
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.services__main-box {
    gap: 50px;
    flex-wrap: wrap;
}

.service__card {
    flex-basis: 250px;
    flex: 1;
}

.service__card__img {
    width: 100%;
    margin-bottom: 16px;
}

.service__card__heading {
    font-size: 18px;
    margin-bottom: 5px;
}

/********************/
/* Testimonial section */
/********************/

.testimonial__section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../img/review-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}

.testimonial__main-box {
    width: 100%;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.testimonial__main-box figure {
    flex-basis: 1000px;

    display: flex;
    flex-direction: column;
}

.testimonial {
    font-style: italic;
}

.testimonial-customer {
    align-self: flex-end;
    font-weight: 700;
}

/********************/
/* Outro section */
/********************/

.outro__section {
    padding: 96px 0;
}

.outro__main-box {
    background-color: #ff5a29;
    border-radius: 10px;
    padding: 50px;

    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #fff;
}

.outro__heading {
    font-size: 30px;
}

.outro__desc {
    font-size: 18px;
}

.outro__cta {
    border: 1px solid #fff;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
}

/********************/
/* Footer */
/********************/

footer {
    background-color: #585858;
    color: #fff;
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
}
